# Environnement virtuel
.venv/

# Fichiers compilés Python
__pycache__/
*.py[cod]

# Base de données SQLite
*.sqlite3

# Fichiers log
*.log

# Répertoires d'IDE
.idea/
.vscode/

# Fichiers de migration compilés
**/migrations/__pycache__/

# Ignorer le dossier .idea/ de PyCharm et la base sqlite3
.idea/
db.sqlite3
